
<launch>
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
  <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
  <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  <param name="scan_mode"           type="string"   value="Standard"/>
  <!--
  Standard: max_distance: 12.0 m, Point number: 2.0K
	Express: max_distance: 12.0 m, Point number: 4.0K
	Boost: max_distance: 12.0 m, Point number: 8.0K
	Stability: max_distance: 12.0 m, Point number: 4.0K
 -->
  </node>

<node pkg="rosserial_python" type="serial_node.py" name="GOT" output="screen">
   <param name="port" value="/dev/ttyACM0" />
</node>
<node pkg="rosserial_python" type="serial_node.py" name="robot_Driver" output="screen">
   <param name="port" value="/dev/ttyACM1" />
</node>



<node pkg="hardware_driver" type="logger_static_node.py" name="logger_static_node">
</node>


</launch>
