<launch>
<!-- Lidar node -->
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
  <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
  <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

<!-- Odometry node
 <node pkg="odom_node_pkg" type="odom_node_type" name="odom_node" output="screen">
    <param name="odom_param" value="param_value" />
 </node>
-->
<!--static_transform_publisher x y z qx qy qz qw frame_id child_frame_id  period_in_ms  -->
<node pkg="tf" type="static_transform_publisher" name="base_link_to_lidar"        args="-0.012 0 0.0116 0 0 0 0 base_link base_laser 100" />
<node pkg="tf" type="static_transform_publisher" name="lidar_to_footprint"        args="0 0 -0.0191 0 0 0 0 base_link base_footprint 100" />
<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 30" />
<!--
<node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0 0.06 0.02 0 0 0 base_link imu 30" />
-->
 <!-- Transform_config for robot and lidar-->
 <node pkg="robot_setup_tf" type="tf_broadcaster" name="robot_tf" output="screen">
<!--    <param name="transform_configuration_param" value="param_value" /> -->
 </node>

 <!-- Ros_serial com (com between rpi and teeny) -->
 <node pkg="rosserial_python" type="serial_node.py" name="rosserial_python" output="screen">
    <param name="port" value="/dev/ttyACM0" />
 </node>

</launch>
