<launch>
<!-- /home/casper/swarm_ws/src/pose_estimater_switcher/script/USPS_pose_estimator.py -->
<arg name="port" default="/dev/ttyACM0" />
<node pkg="pose_estimater_switcher" type="USPS_pose_estimator.py" name="USPS_pose_estimator">
</node>

<node pkg="rosserial_python" type="serial_node.py" name="rosserial_python" output="screen">
   <param name="port" value="$(arg port)" />
<!--   <param name="baud" value="9600"/> -->
</node>
</launch>
